.news .h-list {
    &--item {
        position: relative;
        margin: 0 8px;
        margin-top: 42px;
        border-radius: 4px;
        width: 24.8%;
        min-width: 290px;
        height: 355px;

        align-self: flex-start;
        overflow: hidden;

        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        transition: all .3s ease;
        
        &:hover {
            .image {
                transform: scale(1.1);

                &:before {
                    background-color: rgba($color: $main-middle-color, $alpha: 0);
                }
            }
        }

        .image {
            position: absolute;
            top: 0;
            bottom: 32%;
            right: 0;
            left: 0;
            
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;

            transition: transform .3s ease;

            &:before {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba($color: $main-middle-color, $alpha: .3);
                
                transition: all .3s ease;
            }
        }

        .context {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 175px;
            padding: 0 16px;
            padding-top: 16px;
            background-color: #fff;

            .i-title {
                margin: 0 0 12px;

                h2 {
                    font-size: 16px;
                    letter-spacing: .03em;
                    color: $main-title-color;
                    margin: 0 0 6px;
                }
            }

            .text > p {
                display: none;
                &:first-child {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}

@import "./items/items.scss";