.news-item {
    max-width: 75%;

    .context {
        .title {
            position: relative;
            margin: 0 0 26px;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -8px;
                width: 25%;
                height: 1px;
                background: linear-gradient(to right, 
                    $main-dark-color 0%, 
                    $main-middle-color 35%, 
                    $main-light-color 50%,
                    transparent 100%
                );
            }
        }

        .descriptor {
            position: relative;
            height: 100%;

            &.pre {
                .text p {
                    text-indent: 0;
                    display: none;

                    &:first-child {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }

                a {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                }
                
                .date {
                    bottom: 4px;
                    right: 0;
                }
            }
            
            .date {
                position: absolute;

                span {
                    align-items: center;
                    justify-content: center;
                    margin: 0 12px;
                    padding: 2px 7px;
                    border-radius: 15px;
                    font-size: 12px;
                    letter-spacing: .03em;
                    line-height: 0;
                    color: #fff;
                    
                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }

                    &:first-child {
                        background-color: $main-light-color;
                    }

                    &.new {
                        background-color: #de4848;
                        
                        svg { color: #ffa7a7; }
                    }
                }
            }
        }
    }
}

.news-item-selected {
    max-width: 85%;
    padding: 15px 20px;
    
    img {
        margin-bottom: 28px;
    }

    .text {
        margin-bottom: 42px;
    }

    .links {
        a {
            font-size: 12px;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
        }
    }
    
    .date {
        position: relative;

        span {
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            margin-bottom: 42px;
            padding: 2px 7px;
            border-radius: 15px;
            font-size: 16px;
            letter-spacing: .03em;
            line-height: 0;
            color: #fff;
            
            svg {
                width: 26px;
                height: 26px;
                margin-right: 5px;
            }

            &:first-child {
                background-color: $main-light-color;
            }

            &.new {
                background-color: #de4848;
                
                svg { color: #ffa7a7; }
            }
        }
    }
}