.company .arrow-block {
    margin-bottom: 118px;
    picture {
        z-index: 1;
    }
    .content {
        position: relative;
        border-radius: 4px;
        z-index: 2;
        transform: translateX(-25%) translateY(15%);
        background: linear-gradient(75deg, $main-dark-color 0%, $main-dark-color 25%, $main-middle-color 100%);
        box-shadow: 0px 6px 10px rgba($color: #000000, $alpha: .13), 0px 10px 14px rgba($color: #000000, $alpha: .26);
    }
    img {
        width: 350px;
        height: 350px;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16), 0px 6px 9px rgba($color: #000000, $alpha: .26);
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        height: 350px;
        padding: 32px 26px;
        >a {
            z-index: 1;
            margin-top: auto;
        }
    }
    &.revers {
        picture {
            order: 1;
        }
        .content {
            align-items: flex-end;
            order: 0;
            text-align: right;
            transform: translateX(25%) translateY(15%);
            background: linear-gradient(150deg, $main-dark-color 0%, $main-dark-color 35%, $main-middle-color 100%);
            fade-out>a {
                float: right;
            }
        }
    }
}