.container.licences {
    background: linear-gradient(
        25deg,
        $mainColorDark 0%,
        $mainColorDark 25%,
        $mainColorMiddle 100%
    );

    .gerb-bg {
        position: absolute;
        left: 7%;
        top: 7%;
        bottom: 7%;
        width: 100%;
        z-index: 0;

        background-image: url("/images/gerb_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .3;
    }

    .block:last-child {
        flex: 2 0;
    }

    .context > .logos > .logo {
        width: 105px;
        height: 105px;
        margin-bottom: 16px;
        margin-right: 42px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .context > .text {
        p {
            font-size: 14px;
            color: white;
            letter-spacing: .03em;
            line-height: 1.4em;

            margin-bottom: 42px;
        }
    }

    .licences-images {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        & > .licence-image {
            position: absolute;
            display: block;
            width: 240px;
            height: 100%;
            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 9px 4px 14px 7px rgba($color: #000000, $alpha: .3);

            &.image-1 {
                left: 17.5%;
                transform: scale(1);
                z-index: 4;
            }

            &.image-2 {
                left: 27%;
                transform: scale(0.95);
                z-index: 3;
            }

            &.image-3 {
                left: 36%;
                transform: scale(0.9);
                z-index: 2;
            }

            &.image-4 {
                left: 45%;
                transform: scale(0.85);
                z-index: 1;
            }
        }
    }
}
