.product-selected--slider {
    display: block;
    white-space: nowrap;
    padding: 10px 0;
    user-select: none;

    > .swiper-container {
        margin: 0 0 72px;
        > .swiper-wrapper {
            flex-direction: row;
            > .swiper-slide {
                width: 195px;
                height: 135px;

                & > .slider-item,
                & > .slider-item > label,
                & > .slider-item > label > .slider--item_image,
                & > .slider-item > label:before {
                    border-radius: 4px;
                }

                & > .slider-item {
                    position: relative;
                    display: inline-block;
                    width: inherit;
                    height: inherit;
                    margin: 0 7px;
                    background-color: rgba(9, 28, 255, 0.04);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
                    transition: all 0.3s ease;
                    overflow: hidden;
                    flex-shrink: 0;

                    & > input[type="radio"] {
                        display: none;
                    }
                    & > label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap;
                        width: inherit;
                        height: inherit;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        > .slider--item_image {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-size: contain;
                            background-position: center center;
                            background-repeat: no-repeat;
                            transform: scale(0.9);
                            transition: all 0.3s ease;

                            &.no-image {
                                transform: scale(0.75) translate3d(0, 0, 0) !important;
                            }
                        }

                        > span {
                            font-size: 16px;
                            font-weight: 400;
                            padding: 4px 0;
                            text-shadow: 0px 0px 1px rgba($color: #000000, $alpha: 0.65);
                            width: 100%;
                            text-align: center;
                            background-color: #025bfc4d;
                            transition: all 0.3s ease;
                            user-select: none;
                        }
                    }

                    &.selected {
                        background-color: transparent;
                        box-shadow: none;

                        > label > .slider--item_image {
                            align-self: center;
                            justify-self: center;
                            transform: scale(1.2) translateY(12px);
                        }

                        > label > span {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.selected-product-content .text > .title {
    margin: 0 0 42px;

    > h1 {
        margin: 0 0 12px;
    }

    > .descriptor p {
        font-family: "Roboto-Medium";
        font-size: 15px;
        color: $default-body-color;
        text-indent: 0;
    }

    .descriptor {
        width: 95%;
        > .sub {
            margin-top: 24px;
            > p {
                position: relative;
                font-size: 18px;
                margin: 0 0 12px;
                text-indent: 0;

                &:before {
                    position: absolute;
                    content: "";
                    bottom: -7px;
                    left: 0;
                    width: 25%;
                    height: 2px;
                    border-radius: 4px;
                    background: linear-gradient(
                        90deg,
                        $main-middle-color 0%,
                        $main-middle-color 25%,
                        $main-light-color 50%,
                        transparent 100%
                    );
                }
            }
        }
    }

    > .descriptor ol {
        width: 100%;
        padding: 4px 18px;

        > li {
            position: relative;
            font-family: "Roboto-Medium";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: 1.5;
            letter-spacing: normal;
            text-decoration: inherit;
            text-transform: inherit;
            text-indent: 0;
            color: $default-body-color;
            margin: 0 0 7px;
            padding: 0px 10px;
            list-style: none;
            @include responsive(font-size, (15, 14));

            &:before {
                position: absolute;
                content: "";
                top: 6px;
                left: -14px;
                width: 6px;
                height: 6px;
                border: 2px solid $main-dark-color;
                border-radius: 100%;
                background-color: transparent;
            }
        }
    }
}

.product-selected--content {
    position: relative;
    display: block;
    width: 100%;

    > .content--title {
        margin: 0 0 42px;
        > .product--image {
            display: block;
            width: 385px;
            height: 315px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            margin-right: 42px;
        }
    }

    .props {
        margin: 0 0 12px;

        > ul {
            display: grid;
            @include responsive(grid-template-columns, (repeat(3, 1fr), repeat(2, 1fr)));
            grid-gap: 10px 75px;
            list-style: none;
            padding: 4px 20px;

            > li {
                padding: 0;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                font-size: 16px;
                @include responsive(font-size, (16, 16));
                text-indent: 0;
                color: #2b2b2b;

                &:before {
                    position: absolute;
                    content: "";
                    top: 6px;
                    left: -17px;
                    width: 8px;
                    height: 8px;
                    border: 2px solid $main-dark-color;
                    border-radius: 100%;
                    background-color: transparent;
                }

                > ul {
                    list-style: none;
                    padding: 0px;

                    > li {
                        padding: 0;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                            "Open Sans", "Helvetica Neue", sans-serif;
                        font-weight: 400;
                        @include responsive(font-size, (16, 16));
                        text-indent: 0;
                        color: #2b2b2b;

                        &:first-child {
                            margin-top: 4px;
                        }

                        &:before {
                            position: absolute;
                            content: "";
                            top: 0;
                            left: -12px;
                            width: 2px;
                            height: 100%;
                            border: 0;
                            border-radius: 4px;
                            background-color: $main-dark-color;
                        }
                    }
                }
            }
        }
    }
}
