@font-face {
    font-family: "Roboto-Thin";
    src: url("/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

$titleColor: #212121;
$titleLightColor: #fafafa;
$textColor: #616161;
$lightTextColor: #bdbdbd;

$mainColorLight: #7a96ff;
$mainColorMiddle: #3b69e5;
$mainColorDark: #003fb2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    color: $titleColor;
}

body.disable-scroll {
    overflow: hidden;
}

a {
    text-transform: none;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
}

button {
    border: none;
}

header {
    display: block;
    margin-bottom: 48px;

    &.card-header {
        margin: 0 0 12px;
        
        h4 {
            color: $titleColor;
            font-family: "Roboto-Regular", sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 1.25rem;
            line-height: 2rem;
            letter-spacing: .0125em;
            text-decoration: inherit;
            text-transform: inherit;
            margin: 0 !important;
        }
    }

    &.light {
        > h1, > h2, > h4, > p { color: $titleLightColor }
    }
     
    > h1 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        font-size: 3.75rem;
        line-height: 1.2;
        letter-spacing: 0;
        text-decoration: inherit;
        text-transform: inherit;
        color: $titleColor;
        margin: 0 0 12px;
    }
    
    > h2 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: -.008em;
        text-decoration: inherit;
        text-transform: inherit;
        color: $titleColor;
        margin: 0 0 12px;
    }

    h4 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        font-size: 1.25rem;
        line-height: 1.625rem;
        letter-spacing: .0073529412em;
        text-decoration: inherit;
        text-transform: inherit;
        color: $titleColor;
        margin: 0 0 12px;
    }

    > p {
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0;
        text-decoration: inherit;
        text-transform: inherit;
        color: $textColor;
    }
}

article.descriptor {
    display: block;
    margin-bottom: 22px;

    > p {
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: normal;
        text-decoration: inherit;
        text-transform: inherit;
        color: $textColor;
        margin: 0 0 7px;
    }
}

.card-descriptor {
    margin-bottom: 16px;
    
    p {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        font-size: .875rem;
        line-height: 1.25rem;
        letter-spacing: .0178571429em;
        text-decoration: none;
        text-transform: none;
        color: $titleColor;
        opacity: .6;
    }
}

a._contained,
button._contained,
a._outlined,
a._action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    float: left;
    font-family: 'Roboto-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: .8rem;
    line-height: inherit;
    letter-spacing: .0892857143em;
    text-transform: uppercase;
    padding: 0 16px 0 16px;
}

a._contained,
button._contained {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms ease;

    &.dark {
        background-color: $mainColorMiddle;
        color: white;

        &:hover {
            background-color: $mainColorDark;
        }
    }
}

a._outlined {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $mainColorMiddle;
    color: $titleColor;
    transition: border-color 280ms ease, background-color 280ms ease;

    &.light {
        color: #fff;
        border-color: #fff;
    }
    
    &:hover {
        border-color: $mainColorMiddle;
        background-color: rgba($color: $mainColorLight, $alpha: 0.3);
    }
}

a._action {
    transition: color 280ms ease;
    padding: 0;
    color: $mainColorMiddle;

    &:hover {
        color: $mainColorDark;
    }
}

/*
    Set display flex
*/
.root,
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-space-around {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

/*
    Set flex flow : column nowrap
*/
.flex-dir-col
{
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

/*
    set flex flox : row nowrap
*/
.flex-dir-row {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.flex-block-1, 
.flex-block-2 {
    padding: 0 2.5%;
}

.flex-block-1 { flex: 1 0; }
.flex-block-2 { flex: 2 0; }    

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.root {
    position: relative;
    min-height: 100%;

    & > .content {
        flex: 1 0 auto;
        min-height: 100vh;
    }
}

.container {
    position: relative;
    padding: 116px 14.5%;
    overflow: hidden;
}

.article {
    padding: 86px 14.5%;
    padding-top: 43px;

    .list {
        .item {
            margin-bottom: 118px;
        }
    }

    .text {
        p {
            color: #4f4f4f;
            line-height: 1.4;
            text-indent: 1.5em;
            letter-spacing: 0.03em;

            margin: 0 0 6px;
            transition: all 0.3s ease;

            &:hover {
                color: $titleColor;
            }
        }

        img {
            margin: 10px;
            transition: all 0.3s ease;

            &.left {
                float: left;
                clear: both;
            }

            &.right {
                float: right;
                clear: both;
            }

            &:hover {
                &.left {
                    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.6);
                }
                &.right {
                    box-shadow: -6px 7px 16px 0px rgba(0, 0, 0, 0.6);
                }
                transform: perspective(3px) translateZ(0.1px);
            }
        }

        ul {
            margin: 0 0 16px;

            li {
                position: relative;
                font-size: 14px;
                color: #4f4f4f;
                line-height: 1.4;
                padding-left: 3em;
                letter-spacing: 0.03em;

                margin: 0 0 6px;
                transition: all 0.3s ease;

                &:hover {
                    color: $titleColor;
                }

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 1.7em;
                    bottom: 0;
                }

                &:before {
                    width: 2px;
                    background-color: $mainColorMiddle;

                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.no-image {
    position: relative;
    display: block;
    background-image: url('/images/no-photo.png');
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: contain !important;
    width: 100%;
    height: 100%;
    transform: scale(.75) !important;
    opacity: .35;
}

@import "../../app/components/pages/home/elements/top/top.scss";
@import "../../app/components/pages/home/elements/info/info.scss";
@import "../../app/components/pages/home/elements/services/services.scss";
@import "../../app/components/pages/home/elements/product/element.scss";
@import "../../app/components/pages/home/elements/licences/licences.scss";
@import "../../app/components/pages/home/elements/news/news.scss";
@import "../../app/components/pages/home/elements/feedback/form/form.scss";
@import "../../app/components/pages/leaderships/leaderships.scss";
@import "../../app/components/pages/documents/documents.scss";
@import "../../app/components/pages/licences/licences.scss";
@import "../../app/components/pages/news/news.scss";
@import "../../app/components/pages/products/products.scss";
@import "../../app/components/pages/products-selected/product-selected.scss";
@import "../../app/components/blocks/entry-content/entry-content.scss";
@import "../../app/components/blocks/header/header.scss";
@import "../../app/components/blocks/blackout/blackout.scss";
@import "../../app/components/blocks/sideMenu/sideMenu.scss";
@import "../../app/components/blocks/menu/menu.scss";
@import "../../app/components/blocks/footer/footer.scss";
