@import "./utils/vars.scss";
@import "./utils/functions.scss";
@import "./utils/mixins.scss";
@import "../../app/components/blocks/suspens-loader/suspens-loader.scss";
@font-face {
    font-family: "Roboto-Thin";
    src: url("/static/assepts/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/static/assepts/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/static/assepts/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/static/assepts/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/static/assepts/fonts/Roboto/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    @include size(100%,
    100vh)
}

body {
    font-family: "Roboto-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: $default-line-height;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    color: $default-body-color;
}

body.disable-scroll {
    overflow: hidden;
}

a {
    text-transform: none;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
}

button {
    border: none;
}

.top {
    z-index: 9999 !important;
}

.pre-top {
    z-index: 9998 !important;
}

header {
    position: relative;
    display: block;
    margin-bottom: 48px;
    &.card-header {
        margin: 0 0 12px;
        h4 {
            color: $main-title-color;
            font-family: "Roboto-Regular", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: $big-line-height;
            letter-spacing: .0125em;
            text-decoration: inherit;
            text-transform: inherit;
            margin: 0 !important;
            @include responsive(font-size,
            (18,
            16));
        }
    }
    &.light {
        >h1,
        >h2,
        >h4,
        >p {
            color: $light-title-color;
        }
    }
    >h1 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: $lower-line-height;
        letter-spacing: 0;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-title-color;
        margin: 0 0 12px;
        @include responsive(font-size,
        (62,
        46));
    }
    >h2 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: $lower-line-height;
        letter-spacing: -.008em;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-title-color;
        margin: 0 0 12px;
        @include responsive(font-size,
        (32,
        28));
    }
    h4 {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.25rem;
        line-height: $middle-line-height;
        letter-spacing: .0073529412em;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-title-color;
        margin: 0 0 12px;
    }
    >p {
        font-family: inherit;
        line-height: 1.5;
        letter-spacing: 0;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-text-color;
        @include responsive(font-size,
        (16,
        14));
    }
    >hr {
        position: absolute;
        left: 0;
        bottom: -20px;
        border: 0;
        width: 50%;
        height: 1px;
        background: linear-gradient( 90deg, $main-dark-color 0%, $main-dark-color 25%, $main-middle-color 45%, transparent 100%)
    }
}

article.descriptor {
    display: block;
    margin-bottom: 22px;
    >p {
        font-family: inherit;
        line-height: 1.5;
        letter-spacing: normal;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-text-color;
        margin: 0 0 7px;
        @include responsive(font-size,
        (16,
        14));
    }
}

.card-descriptor {
    margin-bottom: 16px;
    p {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.25rem;
        letter-spacing: .0178571429em;
        text-decoration: none;
        text-transform: none;
        color: $main-text-color;
        opacity: .6;
        @include responsive(font-size,
        (16,
        14));
    }
}

a._contained,
button._contained,
a._outlined,
a._action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    float: left;
    font-family: 'Roboto-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: inherit;
    letter-spacing: .0892857143em;
    text-transform: uppercase;
    padding: 0 16px 0 16px;
    @include responsive(font-size,
    (14,
    12))
}

a._contained,
button._contained {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms ease;
    &.dark {
        background-color: $main-middle-color;
        color: white;
        &:hover {
            background-color: $main-dark-color;
        }
    }
}

a._outlined {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $main-middle-color;
    color: $main-title-color;
    transition: border-color 280ms ease, background-color 280ms ease;
    &.light {
        color: #fff;
        border-color: #fff;
    }
    &:hover {
        border-color: $main-middle-color;
        background-color: rgba($color: $main-light-color, $alpha: 0.3);
    }
}

a._action {
    transition: color 280ms ease;
    padding: 0;
    color: $main-middle-color;
    &:hover {
        color: $main-dark-color;
    }
}


/*
    Set display flex
*/

.root,
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-space-around {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.flex-dir-col {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.flex-dir-row {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-block-1,
.flex-block-2 {
    padding: 0 2.5%;
}

.flex-block-1 {
    flex: 1 0;
}

.flex-block-2 {
    flex: 2 0;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.root {
    position: relative;
    min-height: 100%;
    &>.content {
        flex: 1 0 auto;
        min-height: 100vh;
    }
}

.container {
    position: relative;
    overflow: hidden;
    @include responsive(padding,
    ('116px 14.5%',
    '116px 7.5%'));
}

section.container,
article.container {
    @include responsive(padding,
    ('116px 14.5%',
    '116px 7.5%'));
}

section.item-section {
    margin-bottom: 48px;
}

.profile {
    &.left {
        margin-right: 42px;
    }
    img {
        border-radius: 4px;
        box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.32), 1px 4px 10px rgba(0, 0, 0, 0.26);
        transition: transform 280ms ease, box-shadow 280ms ease;
        &:hover {
            transform: perspective(10px) translateZ(.4px);
            box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.23), 1px 6px 12px rgba(0, 0, 0, 0.19)
        }
    }
}

article.content {
    p,
    ul>li {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.5;
        letter-spacing: normal;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-text-color;
        margin: 0 0 7px;
        @include responsive(font-size,
        (16,
        14));
    }
    ul {
        position: relative;
        display: block;
        >li {
            position: relative;
            padding: 0px 15px;
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 2px;
                bottom: 0;
                width: 2px;
                border-radius: 4px;
                background-color: $main-middle-color;
            }
        }
    }
}

article.text {
    @include responsive(padding,
    ('42px 14.5% 116px',
    '42px 7.5% 116px'));
    p,
    ul>li {
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.5;
        letter-spacing: normal;
        text-decoration: inherit;
        text-transform: inherit;
        color: $main-text-color;
        margin: 0 0 7px;
        @include responsive(font-size,
        (16px,
        14px));
    }
    img {
        display: block;
        margin: 16px;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: transform 320ms ease, box-shadow 280ms ease;
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
        &:hover {
            transform: perspective(10px) translateZ(.5px);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
    ul {
        position: relative;
        display: block;
        >li {
            position: relative;
            padding: 0px 15px;
            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 2px;
                bottom: 0;
                width: 2px;
                border-radius: 4px;
                background-color: $main-middle-color;
            }
        }
    }
}

.leadership-item,
.licences-item {
    margin: 0 0 48px;
}

.no-image {
    position: relative;
    display: block;
    background-image: url('/static/assepts/images/no-photo.png');
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: contain !important;
    width: 100%;
    height: 100%;
    transform: scale(0.55) translateY(-75px) !important;
    opacity: .35;
}

@import "../../app/components/pages/home/elements/top/top.scss";
@import "../../app/components/pages/home/elements/info/info.scss";
@import "../../app/components/pages/home/elements/services/services.scss";
@import "../../app/components/pages/home/elements/product/element.scss";
@import "../../app/components/pages/home/elements/licences/licences.scss";
@import "../../app/components/pages/home/elements/news/news.scss";
@import "../../app/components/pages/home/elements/feedback/form/form.scss";
@import "../../app/components/pages/leaderships/leaderships.scss";
@import "../../app/components/pages/documents/documents.scss";
@import "../../app/components/pages/licences/licences.scss";
@import "../../app/components/pages/news/news.scss";
@import "../../app/components/pages/products/products.scss";
@import "../../app/components/pages/products-selected/product-selected.scss";
@import "../../app/components/blocks/entry-content/entry-content.scss";
@import "../../app/components/blocks/header/header.scss";
@import "../../app/components/blocks/blackout/blackout.scss";
@import "../../app/components/blocks/sideMenu/sideMenu.scss";
@import "../../app/components/blocks/menu/menu.scss";
@import "../../app/components/blocks/footer/footer.scss";