.number-list {
    li {
        overflow: hidden;
        align-items: center;
        margin-bottom: 36px;
        span:first-child {
            position: relative;
            font-family: 'Roboto-Light', sans-serif;
            @include responsive(font-size, (36, 28));
            color: $main-title-color;
            margin-right: 36px;
            &:after {
                position: absolute;
                content: '';
                left: -12px;
                bottom: 3px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border-right-width: 2px;
                border-right-style: dotted;
                border-color: $main-dark-color;
                transform: rotateZ(36deg);
            }
        }
        span:last-child {
            font-family: inherit;
            @include responsive(font-size, (16, 14));
            line-height: inherit;
            letter-spacing: 0;
            text-decoration: none;
            text-transform: none;
            color: $main-text-color;
            padding-top: 7px;
        }
    }
}

.content .container .flex-block-1 .descriptor p b {
    font-size: 24px;
    color: #212121;
}

.block:last-child {
    padding: 0 14.5%;
}