.number-list {
    li {
        overflow: hidden;
        align-items: center;
        margin-bottom: 36px;

        span:first-child {
            position: relative;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 36px;
            color: $titleColor;
            margin-right: 36px;

            &:after {
                position: absolute;
                content: '';
                left: -12px;
                bottom: 3px;
                width: 45px;
                height: 45px;

                border-radius: 50%;
                border-right-width: 2px;
                border-right-style: dotted;
                border-color: $mainColorDark;

                transform: rotateZ(36deg);
            }
        }

        span:last-child {
            font-family: inherit;
            font-size: 1rem;
            line-height: inherit;
            letter-spacing: 0;
            text-decoration: none;
            text-transform: none;
            color: $textColor;
            padding-top: 7px;
        }
    }
}

.block:last-child {
    padding: 0 14.5%;
}