footer {
    flex: 0 0 auto;
    padding: 74px 14.5%;
    padding-bottom: 0;
    background-color: #fbfbfb;

    .footer-block {
        margin: 0 4%;

        & > span {
            margin: 0 0 7px;

            font-family: 'Roboto-Medium', sans-serif;
            font-size: 16px;
            color: $titleColor;
            letter-spacing: .03em;
        }

        & > hr {
            display: block;
            margin-right: auto;
            width: 115px;
            height: 1px;
            margin: 0 0 12px;
            border: 0;
            
            background: linear-gradient(
                to right,
                $mainColorDark 0%,
                $mainColorMiddle 35%,
                $mainColorLight 50%,
                transparent 100%
            );
        }

        &:nth-child(2), &:nth-child(3) {
            & .f-nav-link:hover {
                color: $mainColorMiddle;
                transform: translateX(10px);
            }
        }

        &:nth-child(4) {
            & > div {
                margin: 0 0 6px;
                color: $titleColor;
                letter-spacing: .03em;
            }
        }

        .f-nav-link {
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 1.4;
            color: $textColor;
            letter-spacing: .03em;
            margin: 0 0 6px;

            transition: color .3s ease, transform .3s ease;

            &:hover {
                color: $mainColorMiddle;
            }

            &.active {
                color: $mainColorMiddle;
            }
        }

        .company {
            height: 100%;
            
            & > h3 {
                margin: 0 0 12px;
                font-size: 32px;
                letter-spacing: .03em;
                line-height: 1.4;
                color: $titleColor;
            }

            & > span {
                font-family: 'Roboto-Light';
                font-size: 14px;
                letter-spacing: .03em;
                line-height: 1.4;
                color: $textColor;
            }
        }
    }

    .copyright {
        width: 100%;
        padding-top: 72px;
        padding-bottom: 28px;
        text-align: center;
    }

    .copyright, .copyright span {
        font-family: 'Roboto-Light', sans-serif;
        font-size: 14px;
        letter-spacing: .03em;
        color: $textColor;
    }
}