.section-product .block:last-child {
    text-align: right;
    padding-right: 116px;

    .descriptor {
        margin-bottom: 42px;
        max-width: 65%;
        margin-left: auto;

        p {
            font-size: 16px;
            letter-spacing: .03em;
            line-height: 1.4;
            color: $main-text-color;
            margin: 0 0 6px;
        }

    }

    a {
        margin-left: auto;
        float: right;
    }

    .dots-1 {
        position: absolute;
        display: block;
        width: 255px;
        height: 255px;
        top: 10%;
        right: 14.5%;
    }
}

.section-product .block:first-child {
    padding: 0 1.5%;
}

.section-product .flex .element {
    flex: 1 0;
}

.section-product .element {
    position: relative;
    display: block;
    height: 235px;
    margin: 4px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    
    @include responsive(height, (235px, 185px));
    @include responsive(min-width,(285px, 245px));
    transition: all .3s ease;

    &.opacity {
        opacity: .5;
    }

    &:hover {
        &:before {
            background-color: rgba($color: $main-dark-color, $alpha: .7);
        }

        .bg {
            transform: scale(1.1);
        }
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        background: linear-gradient(45deg,
            rgba($color: $main-dark-color, $alpha: .8) 0%,
            rgba($color: $main-dark-color, $alpha: .7) 45%,
            rgba($color: $main-middle-color, $alpha: .7) 100%    
        );

        transition: all .3s ease;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        transition: all .5s ease;
    }

    .title {
        position: absolute;
        left: 7%;
        bottom: 10%;
        z-index: 2;
        margin: 0;
        @include responsive(padding-right, (0, 25px));

        span {
            @include responsive(font-size, (16, 14));
            letter-spacing: .03em;
            line-height: 1.4;
            color: #fff;
        }
    }
}