.toggle-container {
    position: fixed;
    top: 5.5%;
    left: 3%;
    z-index: 9999;
    
    .toggle {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        border-radius: 50%;
        padding: 3.5px;

        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:#fff;
            stroke-width:5.5;
            stroke-linecap:round;

            &.top {
                stroke-dasharray: 40 121;
            }

            &.bottom {
                stroke-dasharray: 40 121;
            }
        }

        &.active {
            transform: rotate(45deg);

            .line.top,
            .line.bottom {
                stroke-dashoffset: -68px;
            }
        }
    }
}

.side-menu {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding-top: 5%;
    padding-left: 2%;
    z-index: 9999;

    background-color: #fff;

    &--items {
        & > div {
            margin: 0 0 12px;
        }

        .link-icon {
            align-items: center;
        }
    }
}