.toggle-container {
    --top-pos: 5.5%;
    --left-pos: 3%;
    
    position: fixed;
    top: var(--top-pos);
    left: var(--left-pos);
    z-index: 9999;

    transition: all .3s ease;

    
    .toggle {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        border-radius: 50%;
        padding: 3.5px;

        background-color: $mainColorDark;

        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:#fff;
            stroke-width:5.5;
            stroke-linecap:round;

            &.top {
                stroke-dasharray: 40 121;
            }

            &.bottom {
                stroke-dasharray: 40 121;
            }
        }

        &.active {
            transform: rotate(45deg);

            .line.top,
            .line.bottom {
                stroke-dashoffset: -68px;
            }
        }
    }
}

.side-menu {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 7% 2%;
    padding-right: 3%;
    z-index: 9998;

    background-color: #fff;

    transform: translateX(-100%);
    transition: all .3s ease;

    &.show {
        transform: translateX(0);
    }

    &--items {
        & > div {
            margin: 0 0 12px;
        }

        .link-icon {
            align-items: center;
            margin: 0 0 12px;

            svg, a {
                transition: all .3s ease;
            }

            svg {
                order: 0;
                width: 24px;
                height: 24px;
                margin-right: 18px;
                opacity: .8;
                color: $mainColorMiddle;
            }

            a {
                order: 1;
                font-size: 14px;
                letter-spacing: .03em;
                line-height: 1.4;
                color: $titleColor;
                opacity: .8;

                &.current + svg,
                &:hover + svg {
                    color: $mainColorDark;
                }

                &.current,
                &.current + svg,
                &:hover,
                &:hover + svg {
                    opacity: 1; 
                }
            }
        }

        .category {
            margin: 32px 0;
        }

        .sub {
            a {
                color: var(--color);
                position: relative;
                display: block;
                font-size: 12px;
                letter-spacing: .03em;
                line-height: 1.4;
                color: #4f4f4f;
                padding: 5px 0;
                padding-left: 32px;
                opacity: .8;

                &, &:before {
                    transition: all .3s ease;
                }

                &.current,
                &:hover {
                    opacity: 1;

                    &:before {
                        width: 2px;
                        opacity: 1;
                        background-color: $mainColorDark;
                    }
                }

                &:before {
                    position: absolute;
                    content: "";
                    left: 12px;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background-color: rgba($color: #000000, $alpha: .3);
                    opacity: .8;
                }
            }
        }
    }
}