@mixin size($width, $height) {
    width: $width;
    height: $height;
}

$screens: (large, $note-screen);
@mixin responsive($property, $values) {
    $value: '';

    @for $i from 1 to length($values) {
        
        @if $property == font-size {
            $value: rem(nth($values, $i));
        } @else {
            $value: nth($values, $i);
        }

        $screen: nth($screens, $i);

        @if $screen == 'large' {
            #{$property}: #{$value};
        } @else {
            @media only screen and (max-width: $screen) {
                #{$property}: #{$value};
            }
        }
    }
}