//  Size
$main-font-size: 16px;
$main-title-size: 18px;

//  Devices sizes
$note-screen: 1440px;

//  Main Colors
$default-body-color: #2b2b2b;

$main-dark-color: #003fb2;
$main-middle-color: #3b69e5;
$main-light-color: #7a96ff;

$main-title-color: #2b2b2b;
$light-title-color: #fafafa;

$main-text-color: #616161;
$light-text-color: #bdbdbd;

$info-block-color: rgb(60, 63, 231);

//  Line heights
$default-line-height: 1.5;
$lower-line-height: 1.2;
$middle-line-height: 1.625rem;
$big-line-height: 2rem;