.service-list {
    & > li {
        padding: 22px 15px;
    }

    & > li > svg {
        @include responsive(width, (48px, 42px));
        @include responsive(height, (48px, 42px));

        color: white;
        margin: 0 0 17px;
    }

    & > li > .context > h3 {
        @include responsive(font-size, (18, 16));
        letter-spacing: .03em;
        line-height: 1.4;
        color: white;
        margin: 0 0 6px;
    }

    & > li > .context > p {
        @include responsive(font-size, (16, 14));
        line-height: 1.4;
        letter-spacing: .03em;
        color: #f1f1f1;
        opacity: .8;
    }
}